<media-header></media-header>
<!--<media-header [ngStyle]="{'display' : !isClicked ? 'block' : 'none'}"></media-header>-->

<!--FROM PDF-->
<!--<ul class="collection">-->
<!--  <li class="collection-item avatar">-->
<!--    <img src="REPLACE_WITH_MOVIE_POSTER" alt="REPLACE_WITH_MOVIE_TITLE" />-->
<!--    <span class="title">REPLACE_WITH_MOVIE_TITLE</span>-->
<!--  </li>-->
<!--</ul>-->
<!--EDIT BELOW-->

<router-outlet></router-outlet>
<!--heeft alles wat wisselt per pagina-->





<!--<media-header *ngIf="!isClicked"></media-header>-->
<!--&lt;!&ndash;<media-header [ngStyle]="{'display' : !isClicked ? 'block' : 'none'}"></media-header>&ndash;&gt;-->

<!--<img [src]="imageUrl">-->
<!--<button (click)="changeImageUrl()">Change</button>-->


<!--<button [ngClass]="{'green': isClicked, 'blue': !isClicked}" (click)="changeButton()">Change</button>-->


<!--<li *ngFor="let number of numbers"> &lt;!&ndash;ngFor: for loop&ndash;&gt;-->
<!--  <span>{{number}}</span>-->
<!--  <button (click)="deleteNumber(number)">delete {{number}}</button>-->
<!--</li>-->

<!--<ng-container *ngFor="let number of numbers">-->
<!--  <li *ngIf="number%2 !=0"></li>-->
<!--</ng-container>-->

<!--<button (click)="removeHeader()">{{isClicked ? 'show' : 'remove'}} header</button>-->
